html{
	height: 400vh;
}
body{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#heading{
	color: #022542;
}

#float-left{
	float: left;
	background-color: orange;
	text-align: center;
	width: 100px;
	height: 100px;
	}
#float-right{
padding-left: 110px;
	
}

#background{
	margin-top: 10px;
	min-height: 100vh;
	background-image: url(https://c4.wallpaperflare.com/wallpaper/43/1003/707/anime-your-name-kimi-no-na-wa-mitsuha-miyamizu-wallpaper-preview.jpg);
background-size: 100% 100%;
background-repeat: no-repeat;
}
#bg-container{
background-color: rgb(0, 0, 0,0.5);
min-height: 100vh;
}

#bg-title{
	color: white;
	text-align: center;
	font-size: 3rem;
	margin: 0;
	line-height: 35rem;
}


/*css positioning*/

#parent-element{
	background-color: skyblue;
	padding: 50px 10px 0px 0px;
	height: 800px;
	position: relative;
}

#child-1{
	background-color: gray;
	padding: 10px;
}

#child-2{
	position: sticky;
	background-color: yellow;
	padding: 10px;
	top: 10px;

}

#child-3{
	background-color: burlywood;
	padding: 10px;
	position: absolute;
	left: 50%;
}

/*Z-index property*/
#container{
position: relative;

}

#black-box{
position: relative;
z-index: 1;
border: 2px solid black;
width: 90%;
height: 100px;
margin :30px;
background-color: black;
color: white;
}

#gray-box{
	position: absolute;
	z-index: 3;
	background-color: lightgray;
	height: 100px;
	width: 90%;
	left: 70px;
	top: 60px;
}

#green-box{
position: absolute;
z-index: 2;
background: lightgreen;
width: 90%;
left: 50px;
top: 30px;
height: 100px;
}
