* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}
body{
    position: relative;
}
nav {
    background-color: white;
    position: sticky;
    height: 55px;
    padding: 0 9rem;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid gainsboro;

}

.nav-logo {
    margin-top: .5rem;
    padding: .1rem;
}

.nav,
.right-nav,
.nav-logo {
    display: inline-block;
     font-weight: 600;
}

nav ul li{
    margin-left: .5rem;
    list-style: none;
}
.right-nav {
    /* border: 1px solid black; */
    padding: 1rem;
    float: right;
}

.tuitt-button {
    background-color: #c2195b;
    border-radius: 1rem;
    padding: .2rem 1rem;
    border: none;
     color: white;
}

#bg-image {
position: relative;
    height: 330px;
    background-position: left center;
    background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.front-bg{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0,0.7);
}

.container{
    position: absolute;
    height: 100%;
    right: 180px;
    width: 500px;
    color: white;
    text-align: right;
    
    
}

.title, .title-2{
    font-family: Zilla Slab;

}

.title{
    font-size: 2.3rem;
    color: white;
    margin-bottom:1rem ;  
}

.title-2{
    text-align: center;
    margin-bottom: 3rem;

}

.subtitle{
    margin-left: auto;
    margin-bottom: 1.5rem;
    width: 350px;
    font-size: 1rem;
    font-weight: 500;
}
.apply-button{
  background-color: #c2195b;
    border-radius: 1rem;
    padding: .4rem 2rem;
    border: none;
     color: white;
     font-weight: 700;

}

.intro{
    width: 75%;
    margin: 4rem auto;
    text-align: justify;
}
.pre-footer{
    padding-top: 4rem;
    background-color:  #f7fbfb;
    height: 350px;
   
}
.prefooter-description{
    width: 78%;
    margin: 0 auto;
    text-align: center;
}

.book-button{
    display: block;
    width: 130px;
    padding: .3rem 1.2rem;
    margin: 1rem auto;
    background-color: #336589;
    border-radius: 1rem;
    border: none;
    color: white;
}
footer{
    text-align: center;
}